@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

#homePanel {
    visibility: hidden;
}

.logonBox {
    text-align: center;
}

    .logonbox input {
        text-align: left;
    }

#logonId, #logonPassword {
    float: right;
}

button {
    width: 100px;
    margin: 5px;
}

html, body {
    font-family: 'Source Code Pro';
    height: 100%;
}

h1 {
    font-size: 40px;
}

.entryInfo {
    text-align: center;
}

.contentContainer {
    background-color: lightgrey;
    width: 300px;
    border: 5px solid maroon;
    padding: 50px;
    margin: auto;
}

#error {
    color: red;
}
